################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StringSolver/bin/Debug/netcoreapp3.1
/StringSolver/obj
